{% extends 'base.html' %}
{% block content %}
{% include 'model-header.html' %}
          <div id="layoutSidenav_content">

            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Polo {{ polo.nomePolo }}</h1>
                        <ol class="breadcrumb mb-4">
                           <li class="breadcrumb-item active"><a href="{% url 'index' %}" >Lista de Polos</a></li>
                           <li class="breadcrumb-item">Consulta</li>
                        </ol>
                    <div class="card mb-4">
                        <div class="card-body">

                            <!-- COMEȏ DO FORM -->

                                <div class="form-row">

                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="small mb-1" >Quantidade de Terminais</label>
                                            <input name="qtdEstoque" id="qtdEstoque" type="text" placeholder="" value="{{polo.qtdEstoque}}" disabled/>
                                        </div>
                                    </div>


                                     <div class="col-md-4">
                                        <div class="form-group">
                                            <a href="#"><button class="btn btn-success">Adicionar terminal</button></a>
                                        </div>
                                    </div>



                                </div>

                                <table id="testTable" class="table table-striped table-hover">
                                            <thead>
                                                 <tr data-href="#">
                                                    <th>Terminais</th>
													<th>Status</th>
													<th></th>
                                                     <th></th>
                                                     <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>



                                                 <tr data-href="#">
                                                    <td><a href="consultarTerminal?id={{terminal.id}}">{{ terminal.serial }}</a></td>
                                                    <td><a href="consultarTerminal?id={{terminal.id}}">{{ terminal.status }}</a></td>
                                                     <td><a href="consultarTerminal?id={{terminal.id}}"></a></td>
                                                     <td></td>
                                                     <td><a href="#"><button class="btn btn-success">Transferir Terminal</button></a></td>

                                                </tr>


                                            </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </main>
          </div>
{%include "model-footer.html"%}
{% endblock %}
