	        <header>

            <div style="background-color: #28a745;">
                <div class="w-100 p-3 container" style="background-color: #28a745; height: 42px;">

                    <div class="row justify-content-between">
                        <div class="col-12 col-sm-6 col-md-8 arroba" style="left: 2.6%; font-size:13px; margin-top: -7px;" >
                            <p class="font-weight-light text-white">
                                <strong>STONE</strong>
                            </p>
                        </div>
                    </div>

                </div>
            </div>



        </header>